<%= link_to 'Add A Post-It', new_post_path, class: "btn" %>
<br />
<br />
<h2>While you were out...</h2>
<br />
<table class="table table-striped">
<% counter = 1 %>
<% @posts.each do |post| %>
  <tr>
		<td class"span2"><h1><%= counter %></h1></td>
		<td><%= render 'summary', post: post %></td>
  </tr>
	<% counter += 1 %>
<% end %>
</table>
<br />
<br />
<br />
<br />
<%= link_to 'New User', new_user_path, class: "btn" %>
